<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>商品編集</h3>

      <%= form_with model:@item, url:admin_item_path(@item.id), local:true do |f| %>
      <table class="table table-borderless">
        <tr>
          <td><%= f.label :"商品画像" %></td>
          <td><%= f.attachment_field :image %></td>
        </tr>
        <tr>
          <td><%= f.label :"商品名" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :"商品説明" %></td>
          <td><%= f.text_area :introduction %></td>
        </tr>
        <tr>
          <td><%= f.label :"ジャンル" %></td>
          <td><%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] } %></td>
        </tr>
        <tr>
          <td><%= f.label :"税抜価格" %></td>
          <td><%= f.text_field :price %>円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td><%= f.radio_button :is_active, :sale %><%= f.label :is_active, "販売中" %>
            <%= f.radio_button :is_active, :stopsale %><%= f.label :is_active, "販売停止中" %></td>
        </tr>
      </table>
      <button class="btn btn-success" type="submit">変更を保存</button>
      <% end %>
    </div>
  </div>
</div>