<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h3>注文履歴詳細</h3>

      <table class="table table-borderless">
        <tr>
          <td>購入者</td>
          <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
        </tr>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>〒<%= @order.postal_code %> <%= @order.address %> <%= @order.name %></td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td>注文ステータス</td>
          <td>
            <%= form_with model:@order, url:admin_order_path(@order), local:true do |f| %>
              <%= f.select :status, Order.statuses_i18n.keys.map { |status| [I18n.t("enums.order.status.#{status}"), status] } %>
              <button class="btn btn-success" type="submit">更新</button>
            <% end %>
          </td>
        </tr>
      </table>

      <div class="order_box">
        <div class="order_detail">
          <table class="table">
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
            </tr>
            <% @order.order_details.each do |order_detail| %>
            <% @total = 0 %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price %></td>
              <td><%= order_detail.amount %></td>
              <td><% @total += order_detail.price * order_detail.amount %><%= @total %></td>
              <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), local:true do |f| %>
                  <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map { |making_status| [I18n.t("enums.order_detail.making_status.#{making_status}"), making_status] } %>
                  <button class="btn btn-success" type="submit">更新</button>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>

        <div class="order_account">
          <table class="account-table">
            <% @sum = @order.total_payment.to_i - @order.shipping_cost.to_i %>
            <tr>
              <td>商品合計</td>
              <td><%= @sum %></td>
            </tr>
            <tr>
              <td>送料</td>
              <td><%= @order.shipping_cost %></td>
            </tr>
            <tr>
              <td>請求金額合計</td>
              <td><%= @order.total_payment %></td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>