<!DOCTYPE html>
<head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="d-flex flex-column vh-100">
  <header class="shadow-sm">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand p-3" href="/">ながのcake</a>

        <% if customer_signed_in? %>
          ようこそ、<%= current_customer.last_name %>さん！
          <% else %>
        <% end %>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <div class="d-grid gap-2 d-md-block">
              
            <% if customer_signed_in? %>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "マイページ", customers_my_page_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "商品一覧", items_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "カート", cart_items_path(@customer), class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark'  %>
            </li></button>
            
            <% elsif admin_signed_in? %>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "注文履歴一覧", admin_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark'  %>
            </li></button>
            <% else %>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "商品一覧", items_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark'  %>
            </li></button>
            <button type="button" class="btn btn-outline-dark btn-sm"><li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark'  %>
            </li></button>
            <% end %>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="mb-auto"><%= yield %></main>

  <footer class="bg-dark text-white pt-5 pb-5"></footer>

</body>